body {
    background-image: url("../images/bkg_home1.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.cmHeadline{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: white;
}

.cmCenteredContent{
    margin-top: 5rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 40%;
    text-align: center;
}

.cmLoginBtn{
    margin-top: 2rem;
    margin-bottom: 2rem;
}