<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUZMAGE Unirse partida</title>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/unirse.css">
</head>
<body>
    <div class="container">
      <div class="cmUnirse">
        <h4>UNIRSE A PARTIDA</h4>
        <form action="/multiplayerMatch" method="post">
            <div class="mb-3">
                <label for="sal_code" class="form-label">Codigo partida</label>
                <input type="text" class="form-control" name="sal_code" id="sal_code" >
            </div>
            <% if (typeof msgE != "undefined") { %>
                <label for="" style="color: red;"><%= msgE %></label>
            <% } %>
            <button class="btn btn-primary">UNIRSE</button>
        </form>
      </div>  
    </div>
</body>
</html>